name: "Test"

on: [ push, pull_request ]

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install kyverno
        uses: kyverno/action-install-cli@fcee92fca5c883169ef9927acf543e0b5fc58289 # v0.2.0
        with:
          release: 'v1.13.4'

      - name: Test Policy locally - pass
        run: kyverno apply samples/ValidatingAdmissionPolicy.yaml --resource samples/deployment.yaml --resource samples/deployment-no-label.yaml

      - name: Test Policy locally - fail
        continue-on-error: true
        run: kyverno apply samples/ValidatingAdmissionPolicy.yaml --resource samples/deployment-fail.yaml

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Check kind cluster up
        run: kubectl cluster-info

      - name: Create Policies
        run: |
          kubectl create -f samples/ValidatingAdmissionPolicy.yaml
          kubectl create -f samples/ValidatingAdmissionPolicyBinding.yaml

      - name: Enable policy for default namespace
        run: kubectl label namespace default vap=true

      - name: Create Deployments - pass
        run: |
          kubectl create -f samples/deployment.yaml -n default
          kubectl create -f samples/deployment-no-label.yaml -n default

      - name: Create Deployments - fail
        continue-on-error: true
        run: |
          kubectl create -f samples/deployment-fail.yaml -n default
